---
layout: page
title: Say Hello
permalink: /contact/
tags: contact
---

{% if site.ajaxify_contact_form %}
  <form class="contact-form">
    <input type="text" name="email" placeholder="{{ site.text.contact.email }}">
    <textarea type="text" name="content" rows="5" placeholder="{{ site.text.contact.content }}" style="resize: vertical"></textarea>
    <input type="text" name="_gotcha" style="display:none" />
    <button type='submit'>{{ site.text.contact.submit }}</button>
  </form>
{% else %}
  <form action="https://formspree.io/{{ site.email }}" method="POST" class="contact-form">
    <input type="text" name="email" placeholder="{{ site.text.contact.email }}">
    <textarea type="text" name="content" rows="5" placeholder="{{ site.text.contact.content }}" style="resize: vertical"></textarea>
    <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
    <input type="hidden" name="_subject" value="{{ site.text.contact.subject }}" />
    <input type="text" name="_gotcha" style="display:none" />
    <input type="submit" value="{{ site.text.contact.submit }}">
  </form>
{% endif %}

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
