<nav class="weave-tabs">
  <a class="weave-tabs__label {% if page.this_page == "all" %}is-current{% endif %}" href="{{ root.url | prepend: site.baseurl }}/">All</a>
  <a class="weave-tabs__label {% if page.this_page == "PC" %}is-current{% endif %}" href="{{ root.url | prepend: site.baseurl }}/pc-games/">PC</a>
  <a class="weave-tabs__label {% if page.this_page == "NES" %}is-current{% endif %}" href="{{ root.url | prepend: site.baseurl }}/nes-games/">NES</a>
  <a class="weave-tabs__label {% if page.this_page == "SNES" %}is-current{% endif %}" href="{{ root.url | prepend: site.baseurl }}/snes-games/">SNES</a>
  <a class="weave-tabs__label {% if page.this_page == "Famicom" %}is-current{% endif %}" href="{{ root.url | prepend: site.baseurl }}/famicom-games/">Famicom</a>
  <a class="weave-tabs__label {% if page.this_page == "SFC" %}is-current{% endif %}" href="{{ root.url | prepend: site.baseurl }}/sfc-games/">SFC</a>
  <a class="weave-tabs__label {% if page.this_page == "Other" %}is-current{% endif %}" href="{{ root.url | prepend: site.baseurl }}/other-games/">Other</a>
</nav>

{% assign type = page.this_page %}
{% if page.this_page == "all" %}
  {% assign games = (site.data.my_games| sort: "type" ) %}
{% else %}
  {% assign games = (site.data.my_games| where: "type" , type) %}
{% endif %}

<p style="text-align: right;"> <strong>{{ games.size }}</strong> games in category <strong>{{ page.this_page }}</strong>

<table class="weave-table weave-table--basic weave-table--condensed weave-table--full-width">
  <tr>
    <th>Game Name</th>
    {% if type == "all" %}
      <th>Game Type</th>
    {% endif %}
    <!-- <th>Price Paid</th> -->
    {% unless type == "all" %}
      <th>Cover</th>
    {% endunless %}
    {% unless type == "all" %}
      <th>Other Images</th>
    {% endunless %}
    <th>Notes</th>
  </tr>
  {% for game in games %}
    <tr>
      <td>{{ game.name }}</td>
      {% unless type == "all" %}
        <td>
          <a href="{{ site.baseurl }}/images/{{ game.type }}/{{ game.file_name }}--main.jpg" target="_blank" class="games-index__image">
            <img src="{{ site.baseurl }}/images/{{ game.type }}/thumbs/{{ game.file_name }}--main.jpg" />
          </a>
        </td>
      {% endunless %}
      {% if type == "all" %}
        <td>
          <a href="{{ root.url | prepend: site.baseurl }}/{{ game.type | downcase }}-games">{{ game.type }}</a>
        </td>
      {% endif %}
      <!-- <td>{{ game.price_paid }}</td> -->
      {% unless type == "all" %}

        <td>
          {% assign extra_images = game.extra_images %}
          {% for counter in (1..extra_images) %}
            <a href="{{ site.baseurl }}/images/{{ game.type }}/{{ game.file_name }}--{{ counter }}.jpg" target="_blank" class="games-index__image">
              <img src="{{ site.baseurl }}/images/{{ game.type }}/thumbs/{{ game.file_name }}--{{ counter }}.jpg" />
            </a>
          {% endfor %}
        </td>
      {% endunless %}
      <td>
        {% if game.notes %}
          {{ game.notes }}
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

<p style="text-align: right;"> {{ games.size }} games in category <strong>{{ page.this_page }}</strong>
